<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
	<!--<add key="S3_ACCESS_KEY_ID" value="" />
	<add key="S3_SECRET_KEY" value="" />
	<add key="S3_ENDPOINT" value="" />
	<add key="ECS_NAMESPACE" value="" />
	<add key="VPOOL_ID" value="" />
	<add key="SIGNATURE_VERSION" value="" />-->

	<!-- 3.4 example -->
	<add key="S3_ACCESS_KEY_ID" value="wuser1@sanity.local" />
	<add key="S3_SECRET_KEY" value="5NFLzZ/7AfI+NrfoF6+gmbJol4ZiVuXCNxMulQ/F" />
	<add key="S3_ENDPOINT" value="http://10.247.78.97:9020" />
	<add key="ECS_NAMESPACE" value="s3" />
	<add key="VPOOL_ID" value="urn:storageos:ReplicationGroupInfo:b3bf2d47-d732-457c-bb9b-d260eb53a76a:global" />
	<add key="SIGNATURE_VERSION" value="4" />
  </appSettings>
</configuration>