<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
	  <!-- test configuation -->
	  <add key="S3_ACCESS_KEY_ID" value="" />
	  <add key="S3_SECRET_KEY" value="" />
	  <add key="S3_ENDPOINT" value="" />
	  <add key="ECS_NAMESPACE" value="" />
	  <add key="VPOOL_ID" value="" />
	  <add key="SIGNATURE_VERSION" value="" />
  </appSettings>
</configuration>